parameters:
	ignoreErrors:
		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/Api/Filter/ElasticSearch/BooleanFilter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, array\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Api/Filter/ElasticSearch/BooleanFilter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Api/Filter/ElasticSearch/DateFilter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, array\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 2
			path: src/Api/Filter/ElasticSearch/DateFilter.php

		-
			message: '#^Class constant name in dynamic fetch can only be a string, int\|string\|null given\.$#'
			identifier: classConstant.nameType
			count: 1
			path: src/Api/Filter/ElasticSearch/DateRangeFilter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Api/Filter/ElasticSearch/DateRangeFilter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, array\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 2
			path: src/Api/Filter/ElasticSearch/DateRangeFilter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Api/Filter/ElasticSearch/IdFilter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, array\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Api/Filter/ElasticSearch/IdFilter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Api/Filter/ElasticSearch/MatchFilter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, array\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Api/Filter/ElasticSearch/MatchFilter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/Api/Filter/ElasticSearch/TagFilter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, array\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Api/Filter/ElasticSearch/TagFilter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Api/State/AbstractProvider.php

		-
			message: '#^Offset ''_source'' might not exist on array\|null\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Api/State/DailyOccurrenceRepresentationProvider.php

		-
			message: '#^Return type \(App\\Service\\ElasticSearch\\ElasticSearchPaginator\|array\|null\) of method App\\Api\\State\\DailyOccurrenceRepresentationProvider\:\:provide\(\) should be covariant with return type \(iterable\<object\>\|object\|null\) of method ApiPlatform\\State\\ProviderInterface\<object\>\:\:provide\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Api/State/DailyOccurrenceRepresentationProvider.php

		-
			message: '#^Offset ''_source'' might not exist on array\|null\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Api/State/EventRepresentationProvider.php

		-
			message: '#^Return type \(App\\Service\\ElasticSearch\\ElasticSearchPaginator\|array\|null\) of method App\\Api\\State\\EventRepresentationProvider\:\:provide\(\) should be covariant with return type \(iterable\<object\>\|object\|null\) of method ApiPlatform\\State\\ProviderInterface\<object\>\:\:provide\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Api/State/EventRepresentationProvider.php

		-
			message: '#^Offset ''_source'' might not exist on array\|null\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Api/State/LocationRepresentationProvider.php

		-
			message: '#^Offset ''_source'' might not exist on array\|null\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Api/State/OccurrenceRepresentationProvider.php

		-
			message: '#^Return type \(App\\Service\\ElasticSearch\\ElasticSearchPaginator\|array\|null\) of method App\\Api\\State\\OccurrenceRepresentationProvider\:\:provide\(\) should be covariant with return type \(iterable\<object\>\|object\|null\) of method ApiPlatform\\State\\ProviderInterface\<object\>\:\:provide\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Api/State/OccurrenceRepresentationProvider.php

		-
			message: '#^Offset ''_source'' might not exist on array\|null\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Api/State/OrganizationRepresentationProvider.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/Command/FixturesLoadCommand.php

		-
			message: '#^Parameter \#5 \$suggestedValues of method Symfony\\Component\\Console\\Command\\Command\:\:addArgument\(\) expects array\|\(Closure\(Symfony\\Component\\Console\\Completion\\CompletionInput, Symfony\\Component\\Console\\Completion\\CompletionSuggestions\)\: list\<string\|Symfony\\Component\\Console\\Completion\\Suggestion\>\), Closure\(Symfony\\Component\\Console\\Completion\\CompletionInput\)\: array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/FixturesLoadCommand.php

		-
			message: '#^Call to an undefined method Elastic\\Elasticsearch\\Response\\Elasticsearch\|Http\\Promise\\Promise\:\:getStatusCode\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Fixtures/FixtureLoader.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/Fixtures/FixtureLoader.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Fixtures/FixtureLoader.php

		-
			message: '#^Only booleans are allowed in an if condition, int\|false given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/Fixtures/FixtureLoader.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Fixtures/FixtureLoader.php

		-
			message: '#^Method App\\Security\\ApiUser\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Security/ApiUser.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Service/ElasticSearch/ElasticSearchIndex.php

		-
			message: '#^Parameter \#1 \$params of method Elastic\\Elasticsearch\\Client\:\:get\(\) expects array\{id\: string, index\: string, force_synthetic_source\?\: bool, stored_fields\?\: array\<string\>\|string, preference\?\: string, realtime\?\: bool, refresh\?\: bool, routing\?\: string, \.\.\.\}\|null, array\{index\: string, id\: int\|string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/ElasticSearch/ElasticSearchIndex.php

		-
			message: '#^Method App\\Service\\ElasticSearch\\ElasticSearchPaginator\:\:count\(\) should return int\<0, max\> but returns int\.$#'
			identifier: return.type
			count: 1
			path: src/Service/ElasticSearch/ElasticSearchPaginator.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Service/ElasticSearch/ElasticSearchPaginator.php
